{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["styled-jsx/babel",
      { "optimizeForSpeed": true,
        "vendorPrefixes": true,
        "plugins": [
          "styled-jsx-plugin-sass",
          "styled-jsx-plugin-postcss"

        ]
      }
    ]
  ]
}
